.chart rect { 
    fill: steelblue; 
} 
.chart text { 
    fill: white; 
    font: 10px sans-serif; 
    text-anchor: end; 
}

.axis text {
    font: 10px sans-serif;
    fill: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#container {
	height: 700px; 
	width: 1450px;
}

svg {
	width: 700px;
	height: 700px;
}